:root {
  --primaryColor: #fe4a49;
  --DarkColor: #434e5b;
  --lightColor: #ffd859;
}
body{
	font-family: 'ubuntu-r';
	margin:0;
	min-height: 100vh;
	position: relative;
	color: var(--DarkColor);
	overflow-x: hidden;
}
main{
	min-height: 71vh;
}
header ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	color:var(--DarkColor);
}

.bg-red{
	background:var(--primaryColor);
}
.color-red{
	color:var(--primaryColor);
}
.icon-079{
	padding-right:10px;
}

/* FONTS */
.f-normal{
	font-family: ubuntu-r;
}
.f-italic{
font-family: ubuntu-ri;
}
.f-light{
font-family: ubuntu-l;
}
.f-ligth-i{
font-family: ubuntu-li;
}
.f-bold{
font-family: ubuntu-b;
}
/* header */
header .site a{
	color: white;

}
header .site{
	padding:5px;
}
header li{
	display: inline-block;
}

header a{
	padding: 10px;
}

/* Footer */

footer{
	font-size: 1.3em;
	text-align: center;
	color: white;
	padding: 30px;
	/* position: absolute;
	bottom: 0;
	right:0;
	left:0; */
}
footer a{
	color:white;
}

/* main */
main{
	max-width: 1200px;
	margin:auto;
	padding: 50px;

}

/* DOWNLOAD BUTTON */
.dl-btn{
	width:140px;
    margin: 30px 0 0 14%;
	display:inline-block;
	background:var(--primaryColor);
	color:white;
	padding:15px;
	border-radius:10px;
	text-transform: uppercase;
	transition: all 0.1s ease-in;

}

.dl-btn .icon-236{
	padding-left:15px;
}

.dl-btn:hover{
	background: var(--DarkColor);
	color:var(--lightColor);
}

/* PAGINATION */
/* PAGINATION */
#pagination{
	text-align: center;
}
#pagination ul{
	list-style-type: none;
	padding:0;
}

#pagination ul li{
	cursor:pointer;
	font-family: ubuntu-b;
	display:inline-block;
	padding:2px 7px;
	box-shadow: var(--DarkColor) 0 0 4px;
	margin:0 5px;
	border-radius: 3px;

}
#pagination .current{
	background:var(--lightColor);
	margin-bottom: 40px;
}

#pagination .current a{
	color:var(--primaryColor);
}
