body{
	font-family: 'Ubuntu', sans-serif;
	margin:0;
}

.primaryColor{
	background-color:#FF0000;
	color:white;
}

img{
	width:100%;
}

a{
	text-decoration: none;
	color:black;
}

header .info{
	padding-left: 20px;
}
header ul{
	margin:0;
	text-align: center;
}
header li{
	padding: 10px 20px;
	display: inline-block;
	cursor:pointer;
	transition: all 0.25s ease-in;
}

header li:hover{
	background:#FF7400;

}
header a{
	color:white;
}

main{
	padding:50px;
	max-width: 1200px;
	margin:0 auto;
	text-align: center;
}

/*  cards css */

.card{
	cursor: pointer;
	display:inline-block;
	width: 220px;
	vertical-align: top;
	margin:20px;
	padding:10px;
	text-align: center;
	overflow: hidden;
	box-shadow:#a9a8a885 -1px 0px 15px 0px;
}

.card p{
	padding:0 5%;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
